body {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 221, 222);
}

.Cabeçalho {
    background-color: rgb(174, 174, 174);
    padding: 10px;
}

.Container {
    padding: 20px;
}

h1{
    color: black;
    text-align: center;
}

h2{
    color:hwb(284 4% 2%)
}

h3{
    font-size: 22px;
}

p{
    font-size:20px;
}

ul {
    font-size: 20px;
}
