@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 221, 222);
    font-family: "Quantico", sans-serif;
}

.Cabeçalho {
    background-color: rgb(174, 174, 174);
    padding: 10px;
}

.Container {
    padding: 20px;
}

h1{
    color: black;
    text-align: center;
}

h2{
    color:#025043;
    font-size: 25px
}

h3{
    font-size: 22px;
}

p{
    font-size:20px;
}

ul {
    font-size: 20px;
}
